.note{
	min-height: 100%;
	width: 100%;
	background-image: url(../img/bg15.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
	padding-bottom: 7rem;
	position: relative;
}

.note-title{
    text-align: center;
    /* border: 1px solid; */
    width: 60%;
	box-sizing: border-box;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 0rem 0rem 0.3rem grey;
    padding: 0.5rem;
    color: #2196f3;
    background-color: #d5f2ff;
}

.note-editor{
    /* border: 1px solid; */
    height: 16rem;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
	padding-top: 1.5rem;
	box-sizing: border-box;
	/* box-shadow: 0rem 0rem 1rem gray; */
	background-color: #f0f0f0b3;
	box-shadow: 0rem 0rem .5rem gray;
}

.note-content{
    /* border: .125rem solid #d0d0d0; */
    width: 60%;
    margin: auto;
    margin-top: .5rem;
	/* margin-bottom: 2rem; */
    /* min-height: 32rem; */
	box-shadow: 0rem 0rem .5rem gray;
	/* padding-bottom: 2rem; */
}

.note-editor-text{
	width: 96%;
    margin: auto;
    display: block;
    height: 9rem;
    resize: none;
	padding:.5rem;
	font-size: 1.2rem;
	border: 0.125rem solid #bbbbbb;
	border-radius: .5rem;
	
	transition: all .2s;
}

.note-editor-text:focus,
.note-editor-nickname:focus,
.note-editor-text:hover,
.note-editor-nickname:hover{
	border:0.125rem solid #FF6400;
}

.note-editor-nickname{
    height: 2.5rem;
    margin-top: .5rem;
    margin-left: 1%;
    float: left;
    width: 16rem;
	border: .125rem solid #bbbbbb;
	padding: 0rem .5rem;
	box-sizing: border-box;
	font-size: 1.2rem;
	border-radius: .5rem;
	
	transition: all .2s;
}

.note-editor-secret{
	float: right;
    /* border: 1px solid; */
    margin-right: .6rem;
}

.note-editor-secret input{
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    transform: translateY(1rem);
}

.note-editor-secret span{
    float: left;
    margin: 1rem;
    margin-left: .2rem;
    color: #1b88de;
    font-size: 1rem;
	font-weight: bold;
	margin-right: 0.4rem;
	cursor: pointer;
}

.note-editor-secret span:hover{
    color: #449bde;	
}

.note-editor-submit{
    float: right;
    margin-top: .5rem;
    margin-right: 1%;
    height: 2.5rem;
    width: 15rem;
    background-color: white;
    color: #74bffb;
    border: .125rem solid #6cbeff;
    font-weight: bold;	
	font-size: 1.125rem;
	cursor: pointer;
	border-radius: .5rem;
	
	transition: all .2s;
}

.note-editor>span:nth-of-type(1){
    float: left;
    margin: 1rem;
    margin-left: .2rem;
    color: gray;
    font-size: .6rem;
}


.note-editor>span:nth-of-type(2){
	margin-top: 1rem;
	font-size: 1rem;
	color: #f40;
	float: left;
	margin-left: 1rem;
	cursor: pointer;
}

.note-editor>span:nth-of-type(2):hover{
	color: #ff684e;
	text-decoration: underline;
}
.note-editor>span:nth-of-type(3){
    float: left;
    margin-top:.9rem;
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #2196f3;
    font-style: italic;
	font-weight: bold;
	
	transition: all .2s;
}

.note-editor-submit:hover{
	color: white;
	background-color: #599cf3;
    border: .125rem solid #2196f3;
}

.note-content-list{
	/* padding-top: 2rem; */
	background-color: #f3f3f391;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.note-content-list-node{
    /* border: 1px solid; */
    width: 96%;
    margin: auto;
    min-height: 6rem;
    background-color: #f2fbff;
    margin-top: .5rem;
	box-sizing: border-box;
	padding: 1rem 0rem;
	position: relative;
}

.note-content-list-node>p:nth-of-type(1){
    position: absolute;
    top: .5rem;
    left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.note-content-list-node>p:nth-of-type(1) span{
    font-size: 1rem;
    color: #2196f3;
    cursor: pointer;
}

.note-content-list-node>p:nth-of-type(1) span:hover{
    color: #03a9f4;
}

.note-content-list-node>p:nth-of-type(2){
    position: absolute;
	top: .5rem;
    right: 1rem;
    color: gray;
}
.note-content-list-node>p:nth-of-type(3){
    /* position: absolute; */
    /* top: 2.5rem; */
    /* left: 1rem; */
	margin:auto;
	margin-top: 1.5rem;
    /* border: 1px solid; */
    min-height: 3rem;
    width: 97%;
	box-sizing: border-box;
	padding: .3rem;
	color: gray;
	background-color: #c1e8f9;
    border-left: .6rem solid #8bd7f9;
	line-height: 3rem;
}

.note-content-follow-list{
	margin-top: .3rem;
}

.note-content-follow-list-node{
    width: 95%;
    /* border: 1px solid; */
    margin-left: 3.5%;
    min-height: 4rem;
    background: #e7e9e9;
    /* margin-bottom: .6rem; */
	padding-bottom: 1rem;
	padding-top: 2rem;
	position: relative;
}

.note-content-follow-list-node>p:nth-of-type(1){
    position: absolute;
    top: .5rem;
    left: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.note-content-follow-list-node>p:nth-of-type(1) span{
    font-size: 1rem;
    color: #2196f3;
}

.note-content-follow-list-node>p:nth-of-type(2){
    position: absolute;
    bottom: .5rem;
    left: 1rem;
	color: #2196f3;
    font-size: 1rem;
	cursor: pointer;
}
.note-content-follow-list-node>p:nth-of-type(2):hover{
    color: #03a9f4;
}
.note-content-follow-list-node>p:nth-of-type(3){
    position: absolute;
	top: .5rem;
    right: 1rem;
    color: gray;	
}
.note-content-follow-list-node>p:nth-of-type(4){
    margin: auto;
    margin-top: 0.3rem;
    /* border: 1px solid; */
    min-height: 3rem;
    line-height: 3rem;
    width: 97%;
    box-sizing: border-box;
    padding: 0rem .3rem;
    color: gray;
    background-color: #d1dade;
    border-left: .5rem solid #bdc7cc;
}
