html,body{
    margin: 0rem;
    padding:0rem;
}

a {
    text-decoration: none;
    color: #0198E1;
}
  
body {
    padding: 30px 20px 20px 20px;
    font-family: "Montserrat", sans-serif;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #222), color-stop(0.61, #EDEDED));
    background-image: -o-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: -moz-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: -webkit-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: -ms-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: linear-gradient(to right bottom, #222222 0%, #444444 61%);
}

.main{
    height: 10rem;
    margin: auto;
    width: 100%;
    max-width: 1080px;
    min-height: 100%;
    border: 1px solid white;
}

.block{
    width: 100%;
    min-height: 4rem;
    background-color: white;
    margin-bottom: .5rem;
}

.wrp{
    width: 100%;
    position: relative;
    /* background-color: aquamarine; 
    padding-left: 2rem;
    padding-right: 2rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wrp-intro{
    height: 8rem;
}

.photo{
    position: absolute;
    /* background-color: red; */
    background-image: url(../img/photo3.jpg);
    background-size: 100%;
    height: 7rem;
    width: 7rem;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
}

.name{
    position: absolute;
    /* background-color: blue; */
    height: 3rem;
    width: 15rem;
    top: 1.5rem;
    left: 12rem;
}
.name p{
    font-size: 2.25rem;
    margin: 0rem;
    line-height: 3rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.titles{
    position: absolute;
    /* background-color: yellow; */
    height: 4rem;
    width: 15rem;
    bottom: 1rem;
    left: 12rem;
}

.titles p{
    margin: 0rem;
    font-size: 0.875rem;
}

.contacts{
    position: absolute;
    /* background-color: green; */
    height: 8rem;
    width: 20rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts p{
    margin: 0rem;
    text-align: right;
}

.wrp-edu{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title{
    margin: 0rem;
    padding-left: 2rem;
}

.duration{
    font-size: 1.25rem;
    background: black;
    color: white;
    width: auto;
    height: 1.75rem;
    padding: 0rem 0.5rem;
    line-height: 1.75rem;
}

.title-edu{
}

.edu{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
    box-sizing: border-box;
    border-left: 0.25rem solid;
    padding-left: 1rem;
}

.edu-jlu{
    height: 5rem;
}

.edu-jlu .sch-name{
    position: absolute;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
}

.edu-jlu .duration-jlu{
    position: absolute;
    right: 0rem;
}

.edu-jlu .major{
    position: absolute;
    top: 2rem;
    font-weight: bold;
}

.edu-jlu .gpa{
    position: absolute;
    bottom: 0rem;
}

.edu-jlu .badge{
    height: auto;
    width: 9rem;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.edu-jlu .badge img{
    width: 100%;
}

.wrp-honor{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.honor-list{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
    box-sizing: border-box;
    border-left: 0.25rem solid;
    padding-left: 1rem;
}

.honor-item{
    margin-bottom: 0.25rem;
}

.devider{
    margin: 0.5rem 0rem;
    border: 1px dashed lightgray;
}

.project-list{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
}

.project-item{
    position: relative;
    padding-left: 1rem;
    box-sizing: border-box;
    border-left: 0.25rem solid;
}

.project-item .proj-name{
    font-weight: bold;
    font-size: 1.125rem;
}

.project-item .proj-duration{
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.project-item .proj-role{
    font-weight: bold;
}

.project-item .proj-desc{

}

.project-item .proj-desc li{

}

