html,body{
    margin: 0rem;
    padding:0rem;
}

a {
    text-decoration: none;
    color: #0198E1;
}
  
body {
    padding: 30px 20px 20px 20px;
    font-family: "Montserrat", sans-serif;
    /* background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #222), color-stop(0.61, #EDEDED));
    background-image: -o-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: -moz-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: -webkit-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: -ms-linear-gradient(right bottom, #222 0%, #444 61%);
    background-image: linear-gradient(to right bottom, #222222 0%, #444444 61%);
    background-attachment: fixed; */
    background-color: #CAE5E7;
}

.main{
    height: 10rem;
    margin: auto;
    width: 100%;
    max-width: 1080px;
    min-height: 100%;
    /* border: 1px solid white; */
}

.block{
    width: 100%;
    min-height: 4rem;
    background-color: white;
    margin-bottom: .5rem;
    box-shadow: -0.25rem 0.25rem 0rem #95b2b5;
}

.wrp{
    width: 100%;
    position: relative;
    /* background-color: aquamarine; 
    padding-left: 2rem;
    padding-right: 2rem; */
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.wrp-intro{
    height: 8rem;
}

.photo{
    position: absolute;
    /* background-color: red; */
    background-image: url(../img/photo3.jpg);
    background-size: 100%;
    height: 7rem;
    width: 7rem;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
}

.name{
    position: absolute;
    /* background-color: blue; */
    height: 3rem;
    width: 15rem;
    top: 1.5rem;
    left: 12rem;
}
.name p{
    font-size: 2.25rem;
    margin: 0rem;
    line-height: 3rem;
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.titles{
    position: absolute;
    /* background-color: yellow; */
    height: 4rem;
    width: 15rem;
    bottom: 1rem;
    left: 12rem;
}

.titles p{
    margin: 0rem;
    font-size: 0.875rem;
}

.contacts{
    position: absolute;
    /* background-color: green; */
    height: 8rem;
    width: 20rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts p{
    margin: 0rem;
    text-align: right;
}

.wrp-edu{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title{
    margin: 0rem;
    /* padding-left: 2rem; */
    color: #66b6bd;
    width: calc(100% - 4rem);
    margin: auto;
    border-bottom: 1px solid #66b6bd;
}

.duration{
    font-size: 1.25rem;
    background: #66b6bd;
    color: white;
    width: auto;
    height: 1.75rem;
    padding: 0rem 0.5rem;
    line-height: 1.75rem;
}

.title-edu{
}

.edu{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
    box-sizing: border-box;
    padding-left: 1rem;
}

.edu:hover{
    transition: all 0.1s;
    border-left: 0.25rem solid #66b6bd;
}

.edu-jlu{
    height: 5rem;
}

.edu-jlu .sch-name{
    position: absolute;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
}

.edu-jlu .duration-jlu{
    position: absolute;
    right: 0rem;
}

.edu-jlu .major{
    position: absolute;
    top: 2rem;
    font-weight: bold;
}

.edu-jlu .gpa{
    position: absolute;
    bottom: 0rem;
}

.edu-jlu .badge{
    height: auto;
    width: 9rem;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
}

.edu-jlu .badge img{
    width: 100%;
}

.wrp-honor{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.honor-list{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
    box-sizing: border-box;
}

.honor-item{
    padding-left: 1rem;
    margin-bottom: 0.25rem;
}

.honor-icon{
    display: inline-block;
    margin-right: 0.125rem;
    /* border: 1px solid; */
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;

    background-size: 100%;
}

.honor-item:hover{
    transition: all 0.1s;
    border-left: 0.25rem solid #66b6bd;
}

.honor-icon-icpc{
    background-image: url(../img/icpc.png);
}

.honor-icon-google{
    background-image: url(../img/google.ico);
}

.honor-icon-sf{
    background-image: url(../img/segmentfault.ico);
}

.honor-icon-ccpc{
    background-image: url(../img/ccpc.jpg);
}

.honor-icon-challenge{
    background-image: url(../img/challenge.png);
}

.honor-icon-lanqiao{
    background-image: url(../img/lanqiao.png);
}

.honor-icon-design{
    background-image: url(../img/computing\ design.ico);
}

.honor-icon-gplt{
    background-image: url(../img/gplt.png);
}

.divider{
    margin: 0.5rem 0rem;
    border: 1px dashed lightgray;
}

.project-list{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
}

.project-item{
    position: relative;
    padding-left: 1rem;
    box-sizing: border-box;
}

.project-item:hover{
    transition: all 0.1s;
    border-left: 0.25rem solid #66b6bd;
}

.project-item .proj-name{
    font-weight: bold;
    font-size: 1.125rem;
}

.project-item .proj-duration{
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.project-item .proj-role{
    font-weight: bold;
}

.project-item .proj-desc{

}

.project-item .proj-desc li{

}

.exp-list{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
}

.exp-item{
    position: relative;
    padding-left: 1rem;
    box-sizing: border-box;
}

.exp-item:hover{
    transition: all 0.1s;
    border-left: 0.25rem solid #66b6bd;
}

.exp-item .exp-comp{
    font-weight: bold;
    font-size: 1.125rem;
    height: 2rem;
    line-height: 2rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.exp-comp img{
    height: 100%;
    vertical-align: middle;
    margin-right: 0.25rem;
}

.exp-item .exp-duration{
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.exp-item .exp-role{
    font-weight: bold;
}

.exp-item .exp-desc{

}

.exp-item .exp-desc li{

}


.wrp-skills{
    min-height: 10rem;
}

.skills-panel{
    width: calc(100% - 4rem);
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-skill{
    min-height: 6rem;
    width: 100%;
    /* border: 1px solid; */
    margin-bottom: 1rem;
}

.skills-learning{
    width: 49%;
    min-height: 5rem;
    border: 1px solid;
}

.skills-language{
    width: 49%;
    min-height: 5rem;
    /* border: 1px solid; */
    padding-bottom: 1rem;
}

.skills-divider{
    /* height: 5rem; */
    border: 2px dashed lightgray;
}

.skills-title{
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.skill-list{
    /* border: 1px solid; */
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-item{
    /* border: 1px solid; */
    margin-top: 0.5rem;
    width: 21%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
}

.skill-item-name{
    line-height: 2.5rem;
    height: 100%;
    width: 6rem;
    text-align: left;
    padding-right: 1rem;
}

.skill-item-rate{
    height: 2.5rem;
    display: flex;
    width: 7rem;
    align-items: center;
    justify-content: space-evenly;
}

.skill-yes{
    background: #06b6cd;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.skill-no{
    background: #acdfe3;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.language-list{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.language-item{
    /* border: 1px solid; */
    height: 10rem;
    width: 10rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color: #acdfe3;
}

.language-inner{
    position: absolute;
    height: 9rem;
    width: 9rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    z-index: 2;
}

.language-inner h3{
    text-align: center;
    margin: 0rem;
    font-size: 1rem;
    /* color: #04d9f5; */
}

.language-inner h4{
    text-align: center;
    margin: 0rem;
    font-size: 0.875rem;
    color: #65d5dd;
}

.language-sq1{
    position: absolute;
    background-color: #06b6cd;
    top: 0%;
    right: 0%;
    height: 50%;
    width: 50%;
    z-index: 1;
}
.language-sq2{
    position: absolute;
    background-color: #06b6cd;
    bottom: 0%;
    right: 0%;
    height: 50%;
    width: 50%;
}
.language-sq3{
    position: absolute;
    background-color: #06b6cd;
    bottom: 0%;
    left: 0%;
    height: 50%;
    width: 50%;
}
.language-sq4{
    position: absolute;
    background-color: #06b6cd;
    top: 0%;
    left: 0%;
    height: 50%;
    width: 50%;
}

.language-english .language-sq4{
    transform: scaleY(0);
}

.language-english .language-sq3{
    transform: translateY(50%);
}